@import "./owl.carousel.min.css";
@import "./animate.min.css";
@import "./magnific-popup.css";
@import "./font-awesome.min.css";
@import "./meanmenu.css";
@import "./flaticon.css";
@import "./jquery.barfiller.css";
@import "./jquery-ui.css";
@import "./nice-select.css";
@import "./nav-tabs.css";
@import "./style.css";
@font-face {
    font-family: "Montserrat";
    src: url("/resources/fonts/Montserrat-Regular.woff2") format("woff2"),
        url("/resources/fonts/Montserrat-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Montserrat", sans-serif;
}
